/vendor
composer.phar
composer.lock
.DS_Store
Thumbs.db
/phpunit.xml
/.idea
/.vscode
.phpunit.result.cache


app/
bootstrap/
config/
database/
docker/
helpers/
public/
resources/
routes/
storage/
.env
.env.example
.htaccess
docker-compose.yml
hustle
server.php